<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Learning App</title>
</head>
<body>
    <h1>Welcome to the Word Learning App</h1>
    <p><a href="/register">Register</a> or <a href="/login">Login</a> to start learning!</p>

    <!-- Komunikaty flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>
</html>
