<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.username.label }}: {{ form.username(size=20) }}</p>
        <p>{{ form.password.label }}: {{ form.password(size=20) }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>Don't have an account? <a href="/register">Register</a></p>

    <!-- Wyświetlanie komunikatów flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="flash {{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

</body>
</html>
